@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Imbue:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

.custom-container {
  max-width: 1200px !important;
  margin: 0 auto 0 auto;
}

.navbar-brand img {
  width: 344px;
}

.navbar-nav {
  padding: 0 50px 0 80px;
  white-space: nowrap;
}

.navbar-nav .nav-item {
  margin: 0 17px 0 17px;
}

.navbar-nav .nav-item .nav-link {
  color: #4F423E;
  font-size: 16px;
  font-weight: 500;
}

.navbar-nav .nav-item .nav-link.active {
  color: #ff4a8b;
}

.cart-button .icon-cart {
  width: 40px;
}

.cart-button .btn-signin {
  border-radius: 4px;
  padding: 11px 29px 11px 29px;
  background-color: #EEEEEE;
  display: inline-block;
  color: #c9c9c9;
  margin-left: 40px;
}

.cart-button .btn-pink {
  border-radius: 4px;
  padding: 11px 29px 11px 29px;
  background-color: #ff4a8b;
  display: inline-block;
  color: white;
  margin-left: 20px;
}

.hero {
  background-image: url("/img/ImageHeader.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.hero .cta-hero {
  padding: 144px 250px 0 50px;
}

.hero .cta-hero h2 {
  font-family: "Imbue", serif;
  font-size: 75px;
  font-weight: 700;
  color: #4F423E;
  line-height: 90px;
  letter-spacing: 0.045em;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.hero .cta-hero h2 span {
  color: #ff4a8b;
}

.hero .cta-hero .search-location input {
  margin-bottom: 134px;
  vertical-align: top;
  width: 620px;
  height: 60px;
  border: 1px solid rgba(255, 74, 139, 0.3);
  border-style: solid;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 4px rgba(255, 74, 139, 0.2);
          box-shadow: 0 0 4px rgba(255, 74, 139, 0.2);
  padding-left: 60px;
}

.hero .cta-hero .search-location input:focus {
  outline: none;
  background-image: url(/img/location.svg);
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: center;
}

.hero .cta-hero .search-location input::-webkit-input-placeholder {
  background-image: url(/img/location.svg);
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: center;
  color: #C9C9C9;
}

.hero .cta-hero .search-location input:-ms-input-placeholder {
  background-image: url(/img/location.svg);
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: center;
  color: #C9C9C9;
}

.hero .cta-hero .search-location input::-ms-input-placeholder {
  background-image: url(/img/location.svg);
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: center;
  color: #C9C9C9;
}

.hero .cta-hero .search-location input::placeholder {
  background-image: url(/img/location.svg);
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: center;
  color: #C9C9C9;
}

.hero .cta-hero .search-location .btn-pink {
  border-radius: 4px;
  padding: 11px 29px 11px 29px;
  background-color: #ff4a8b;
  display: inline-block;
  color: white;
  margin-left: -125px;
  margin-top: 5px;
  outline: none;
}

.delivery-contact {
  font-family: "Oswald", sans-serif;
  color: white;
  height: 125px;
  margin-top: 50px;
  margin-bottom: 70px;
  background-color: #ff4a8b;
  border-radius: 8px;
  padding: 25px 35px 25px 25px;
}

.delivery-contact .text-delivery {
  font-weight: 500;
  font-size: 55px;
  text-transform: uppercase;
  margin-right: 168px;
}

.delivery-contact .number-delivery {
  font-weight: 600;
  font-size: 55px;
  text-transform: uppercase;
}

.delivery-contact .number-delivery img {
  width: 55px;
  height: 55px;
  vertical-align: baseline;
}

.how-to-order {
  margin-bottom: 120px;
}

.how-to-order .custom-container {
  -webkit-box-shadow: 0px 0px 8px rgba(255, 78, 167, 0.5);
          box-shadow: 0px 0px 8px rgba(255, 78, 167, 0.5);
}

.how-to-order h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.012em;
  color: #674034;
  padding: 40px 0 40px 0;
}

.how-to-order .order-step ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.how-to-order .order-step ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  width: 200px;
}

.how-to-order .order-step ul li .order-icon {
  width: 58px;
  height: 45px;
}

.how-to-order .order-step ul li .checklist-icon {
  margin: auto;
  display: inline-block;
  position: relative;
}

.how-to-order .order-step ul li .checklist-icon img {
  width: 25px;
  height: 25px;
}

.how-to-order .order-step ul li .checklist-icon::before {
  content: "";
  position: absolute;
  top: 0.6em;
  left: -11em;
  width: 11em;
  height: 0.5em;
  background: #ff4a8b;
  z-index: -1;
}

.how-to-order .order-step ul li .checklist-icon:first-child::before {
  content: none;
}

.how-to-order .order-step ul li p {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #674034;
}
/*# sourceMappingURL=main.css.map */