@import "font", "mixin", "variable";

body {
  font-family: "Poppins", sans-serif;
  @media screen and (max-width: 992px) {
  }
}

// Section navbar
.custom-container {
  @include cust-container;
}

.navbar-brand {
  img {
    width: 344px;
  }
}

.navbar-nav {
  padding: 0 50px 0 80px;
  white-space: nowrap;
  .nav-item {
    margin: 0 17px 0 17px;

    .nav-link {
      color: $solidBrown;
      font-size: 16px;
      font-weight: 500;
      &.active {
        color: $lightPink;
      }
    }
  }
}

.cart-button {
  .icon-cart {
    width: 40px;
  }

  .btn-signin {
    @include greyButton;
    margin-left: 40px;
  }

  .btn-pink {
    @include pinkButton;
    margin-left: 20px;
  }
}

// section Hero
.hero {
  background-image: url("/img/ImageHeader.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;

  .cta-hero {
    padding: 144px 250px 0 50px;

    h2 {
      font-family: "Imbue", serif;

      font-size: 75px;
      font-weight: 700;
      color: $solidBrown;
      line-height: 90px;
      letter-spacing: 0.045em;
      text-transform: capitalize;
      margin-bottom: 40px;
      span {
        color: $lightPink;
      }
    }
    .search-location {
      input {
        margin-bottom: 134px;
        vertical-align: top;
        width: 620px;
        height: 60px;
        border: 1px solid rgba(255, 74, 139, 0.3);
        border-style: solid;
        border-radius: 8px;
        box-shadow: 0 0 4px rgba(255, 74, 139, 0.2);
        padding-left: 60px;
        &:focus {
          outline: none;
          background-image: url(/img/location.svg);
          background-repeat: no-repeat;
          background-position-x: 20px;
          background-position-y: center;
        }

        &::placeholder {
          background-image: url(/img/location.svg);
          background-repeat: no-repeat;
          background-position-x: 20px;
          background-position-y: center;
          color: $greyText;
        }
      }

      .btn-pink {
        @include pinkButton;
        margin-left: -125px;
        margin-top: 5px;
        outline: none;
      }
    }
  }
}

// section delivery contact
.delivery-contact {
  font-family: "Oswald", sans-serif;
  color: white;
  height: 125px;
  margin-top: 50px;
  margin-bottom: 70px;
  background-color: $lightPink;
  border-radius: 8px;
  padding: 25px 35px 25px 25px;
  .text-delivery {
    font-weight: 500;
    font-size: 55px;
    text-transform: uppercase;
    margin-right: 168px;
  }

  .number-delivery {
    img {
      width: 55px;
      height: 55px;
      vertical-align: baseline;
    }
    font-weight: 600;
    font-size: 55px;
    text-transform: uppercase;
  }
}
